.reservation_module_widget{
	padding: 1em;
	background: #fff;
	margin: 1em 0;

	&::after{
		content: '';
		display: table;
		clear: both;
	}

	form{
		.res_form-row{
			&:after{
				content:'';
				display: table;
				height: 1px;
				clear: both;
			}
		}

		.res_form-group{
			display: block;
			padding: .25em 1em;
			float: left;
			width: 50%;

			&.hidden{
				display: none;
			}

			label{
				padding-right: .5em;
				width: 100px;
			}

			input{
				width: 120px;
				vertical-align: middle;
				&[type="radio"]{
					width: 20px;
					&+label{
						width: auto;
					}
				}
			}

			label, input{
				display: inline-block;
			}
		}
	}
}